<%= simple_form_for @service do |f| %>
    <% if @service.errors.any? %>
        <h2><%= pluralize(@service.errors.count, "error") %> prevented this service from saving:</h2>
        <ul>
          <% @service.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>

    <%= f.label :service_name %> <br>
    <%= f.text_field :service_name %>

    <br>
    <br>

    <%= f.label :service_description %> <br>
    <%= f.text_area :service_description %>

    <br>
    <br>
    <%= f.input :pic, as: :file %>

    <%= f.submit %>
<% end %>