<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <p class="date"><%= @project.created_at.strftime('%A, %B %d') %></p>
    <h1><%= @project.title %></h1>
    <hr>
  </header>
  <div id="content">
    <%= @project.description %>
    <a href="<%= @project.link %>" class="project_button" , target="_blank">Visit <%= @project.title %></a><br>
    <div class="row">
      <ul class="thumbnails files">
        <% unless @pictures.empty? %>
            <% @pictures.each do |pic| %>
                <li class="span3" id="picture_<%= pic.id %>">
                  <div class="thumbnail">
                    <%= image_tag pic.image.url %>
                    <div class="caption">
                      <p style="text-align: center;">



                      </p>
                    </div>
                  </div>
                </li>
            <% end %>
        <% end %>
      </ul>
    </div>
    <%- if user_signed_in? %>
        <%= link_to 'Edit', :edit_project %>
        <%= link_to 'Back', :back %>
    <% end %>
  </div>

  <hr>
</div>
