<nav class="nav_text_col" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo"><%= link_to "Codenite", root_path %></a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#"><%= link_to "Bios", bios_path %></a></li>
      <li><a href="#"><%= link_to "Projects", projects_path %></a></li>
      <li><a href="#">Clients</a></li>
      <li><a href="#"><%= link_to "Contact", contact_path %></a></li>
      <% if user_signed_in? %>
          <li><a href="#"><%= link_to "Log out", destroy_user_session_path, :method => :delete %></a></li>
          <li class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
      <% end %>

    </ul>

    <ul class="side-nav" id="nav-mobile">
      <li><a href="#">Home</a></li>
      <li><a href="#">Bio</a></li>
      <li><a href="#"><%= link_to "Project", projects_path %></a></li>
      <li><a href="#"><%= link_to "Contact", contact_path %></a></li>

    </ul>
  </div>
</nav>