<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>

<%= render 'layouts/notifications' %>

<%= render 'layouts/nav' %>


<%= yield %>


<%= render 'layouts/footer' %>


<%= render 'layouts/scripts' %>

</body>

</html>
